{% extends "base.html" %}

{% block title %}
Impact of Sponsors
{% endblock %}

{% block content %}
<h1>Impact of Sponsors</h1>

<div class="sixteen columns clearfix">
    <div class="twelve columns alpha">
        <p>
            Here is a breakdown of how the sponsorship money has been used.
        </p>
    </div>
    <div class="three columns omega">
    	<p>
            Interested in sponsoring PyLadies?
        </p>
        <p>
            Find us in #pyladies on irc.freenode.net and talk to us!
    	</p>
    </div>
</div>
{% endblock %}
